.section-buttons {
    position: relative;
    max-width: 84.375rem;
    width: 100%;
    padding: 1.25rem;
    margin: 2.125rem auto;
    display: flex;
    justify-content: center;
}

.section-buttons__filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.625rem;
    justify-content: center;
}

.section-buttons__button {
    padding: 0.625rem 1.5rem;
    font-size: 1.125rem;
    background: #fff;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.05);
    width: 200px;
}

.section-buttons__button.active {
    background: #4070f4;
    color: #fff;    
}